docker
six
objectpath
jsonschema
pyyaml
natsort
requests
vertica_python
dataclasses-json
wget
python-dotenv
pandas
scipy
simplejson


# Umbra & Postgres
psycopg2

# MonetDB
pymonetdb

# SQLServer
pyodbc

# StarRocks
pymysql


# CPU Configuration
psutil
py-libnuma

# Logging
rich
